@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap');

:root {
  --card-color: #3c4043;
  --background-color: #202124;
  --c1: #009eff;
  --c2: #00e7ff;
  --c3: #00fff6;
  --c4: #0014ff;
  --c5: #7743db;
  --animation-delay: 0.7s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
section > h2 {
  font-size: 1.75rem;
}

.cover {
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

section {
  margin: 1rem auto;
  max-width: 1300px;
}

section > h2 > span {
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 0.25rem;
}

section > h1 > span {
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 0.25rem;
}

article {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* padding: 0 1rem; */
}

blockquote {
  font-size: 2rem;
  margin: 0 auto;
  display: inline-block;
}

/* .canvas{
  position: fixed;
  top: 0;
  left: 0;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: var(--background-color);
  }
} */

.container {
  padding: 0 2rem;
}

.main {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.inBlogImage {
  max-width: 900px;
  position: relative;
  height: 350px;
  margin: 1rem 0;
}

@media screen and (max-width: 420px) {
  .container {
    padding: 0 1rem;
  }
}
