.wrapper{
  min-height: 80vh;
  width: 100%;
  position: relative;
  max-width: 1300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}

.names{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  color: black;
}

.image{
  position: absolute;
  right: 10%;
  top: 5%;
  height: 350px;
  width: 350px;
  
}

.names > div {
  font-size: 7.5rem;
  letter-spacing: 0.5rem;
  margin: -1rem 0;
  opacity: 0;
}

.names > div:nth-child(1){
  font-weight: 300;
  animation: moveIn 1s ease-in-out forwards;
  animation-delay: 0.1s;
}

.names > div:nth-child(2){
  font-weight: 300;
  padding-left: 2.5rem;
  animation: moveIn 1s ease-in-out forwards;
  animation-delay: 0.2s;
}

.names > div:nth-child(3){
  font-weight: 900;
  padding-left: 5rem;

  background: linear-gradient(
    to right,
    var(--c1),
    var(--c2),
    var(--c3),
    var(--c1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;
  animation: moveIn 1s ease-in-out forwards 0.3s, background-pan 4s linear infinite;
  ;


}


.names > div:nth-child(4){
  font-weight: 900;
  padding-left: 7.5rem;

  background: linear-gradient(
    to right,
    var(--c1),
    var(--c2),
    var(--c3),
    var(--c1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;
  animation: moveIn 1s ease-in-out forwards 0.4s, background-pan 4s linear infinite 1s;
 

}


@keyframes background-pan { 
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
  
}

@keyframes moveIn {
  from{
    transform: translateY(20%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
  
}


@media screen and (max-width: 420px){

  .names > div {
    font-size: 3rem;
    margin: 0.25rem 0;

  }
  .names > div:nth-child(1){
    font-weight: 300;
    padding-left: .5rem;

  }
  
  .names > div:nth-child(2){
    font-weight: 300;
    padding-left: .5rem;
  }
  
  .names > div:nth-child(3){
    font-weight: 900;
    padding-left: .5rem;
  
  }
  
  .names > div:nth-child(4){
    font-weight: 900;
    padding-left: .5rem;
  
  }
  .image{
   position: relative;
   right: 0;
   top: 0;
  }
}