.header {
  /* margin: 4rem 0; */
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.header > h1 {
  margin: 0;
}

.header > nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.header > nav > div:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.o {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  border: 10px solid black;
  transition: 0.4s ease-in-out;

  /* position: relative; */
}

.o:hover {
  border: 5px solid black;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
