.section{
  display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}
.wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



.container{
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;
  justify-content: center;
  position: relative;
  /* overflow: scroll; */
}

.container:nth-child(even){
  flex-direction: row-reverse;
}

.imageCard{
  display: flex;
  align-items: center;
}
.name{
  flex-basis: 300px;
  display: none;
}
.name > h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 100%; */
  height: 100%;
  flex-basis: 800px;
  /* background-color: var(--card-color); */
  padding: 1.5rem;
  /* align-items: center; */
  z-index: 3;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
animation: alive 0.7s ease-in-out forwards;


}

.pre{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 100%; */
  height: 100%;
  flex-basis: 800px;
  max-width: 800px;
  width: 100%;
  /* background-color: var(--card-color); */
  padding: 1.5rem;
  opacity: 0;
}

/* .card > div {
  opacity: 0;

  animation: fade 0.7s ease-in-out forwards;
  animation-delay: 1s;
} */

@keyframes alive {
  from{
    transform: scaleY(0);
    opacity: 1;
  }
  to{
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fade{
  animation: fade 0.7s ease-in-out forwards;
}

.card > div {
  margin: 0.5rem 0;

}

.card > div > * {
  animation: fade 0.7s ease-in-out forwards;
  animation-delay: 0.7s;
}

.card > div > * {
  opacity: 0;

}

.card > div > h3 {
  animation-delay: 0.8s;
}

.card > div > p {
  animation-delay: 0.9s;
}

.card > .divider {
  animation-delay: 1s;
}

.bwWrapper > h3 {
  animation-delay: 1.1s
}

.builtWithContainer:nth-child(1){
  animation-delay: 1.2s;
}
.builtWithContainer:nth-child(2){
  animation-delay: 1.3s;
}
.builtWithContainer:nth-child(3){
  animation-delay: 1.4s;
}
.builtWithContainer:nth-child(4){
  animation-delay: 1.5s;
}

.linksWrapper:nth-child(1){
  animation-delay: 1.6s;
}

.linksWrapper:nth-child(2){
  animation-delay: 1.7s;
}



.headerCard > h3{
  font-size: clamp(1.5em, 2vw, 2em);
margin: 0;
font-weight: 800;
position: relative;
display: inline-block;
}

.wrapper > .container:nth-child(1) > .card > .headerCard > h3::before{
  content: "";
  width:340px;
  display: inline-block;
  opacity: 0.2;
  height:50px;
  background-color: var(--c1);
  position: absolute;
  left: -0.5rem;
  top:-0.25rem;
}



.wrapper > .container:nth-child(2) > .card > .headerCard > h3::before{
  content: "";
  width:215px;
  display: inline-block;
  opacity: 0.2;
  height:50px;
  background-color: var(--c1);
  position: absolute;
  left: -0.5rem;
  top:-0.25rem;
}



.card > p{
  font-size: 1rem;
}

.imageWrapper{
  /* position: absolute; */
  width: clamp(250px, 30vw, 700px);
  /* height:  300px; */
  position: relative; 
  overflow: hidden;
  z-index: 5;
  border-radius: 16px;
  /* animation: fade 0.7s ease-in-out forwards;
  animation-delay: 2s; */
 /* transform: scale(2); */
  /* aspect-ratio:1; */

}
.fromRight{
  animation: fromRight 1.4s ease-in-out forwards;

}

@keyframes fromRight {
  from{
    transform: translateX(50%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  from{
    transform: translateX(-50%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.hiddenWrapper{
  width: clamp(300px, 30vw, 700px);
  /* height:  300px; */
  position: relative; 
  overflow: hidden;
  z-index: 5;
  border-radius: 16px;
  animation: fade 0.7s ease-in-out forwards;
  opacity: 0;
  /* display: none; */
}
/* .imageWrapper::after{
  content: "";
  z-index: 100;
  width: 500px;
  height: 500px;
  background-color: black;
} */

.screen{
  width: 400px;
  height: 390px;
  z-index: 5;
}

/* .imgWrapper > *{
  display: inline;
  
} */

.imgWrapper{
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 50px;
  position: relative;
  top: 1rem;
  /* min-width: 200px; */
 
}

.divider{
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 16px;
}


.linksWrapper{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}

.links{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* text-decoration: underline; */
  gap: 0.25rem;
  border-bottom: 1px solid black;
}

.links:hover{
  cursor: pointer;
}

.bwWrapper{
  display: flex;
  flex-direction: column;

}
.bwWrapper > * {
  margin: 1rem 0;
}
.bwWrapper > h3 {
  font-size: 0.9rem;
  font-weight: 300;
  /* font-style: italic; */
margin:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.builtWithContainer{
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.builtWith{
  padding: 0.5rem;
  border-radius: 16px;
  color: #ffffff;
}

.builtWith:nth-child(1){
  background-color: var(--c4);
/* 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.builtWith:nth-child(2){
  background-color: var(--c1);

  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.builtWith:nth-child(3){
  background-color: var(--c5);

  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.builtWith:nth-child(4){
  background-color: var(--c2);

  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.wrapper > .container:nth-child(1) >.imageCard > .imgWrapper > .imageWrapper {
  animation: fromRight 1.4s ease-in-out forwards;
}

.wrapper > .container:nth-child(2) >.imageCard > .imgWrapper > .imageWrapper {
  animation: fromLeft 1.4s ease-in-out forwards;
}


@media screen and (max-width: 420px) {
  .container{
    flex-direction: column-reverse;
    margin: 0.5rem 0;
    width: 100%;
    min-width: 320px;
    
  }
  .card{
    padding: 1rem;
    margin: 1.5rem 0;
    flex-basis:500px;
  }
  .container:nth-child(odd){
    flex-direction: column-reverse;
  }
  .container:nth-child(even){
    flex-direction: column-reverse;
  }
  .imageWrapper{
    display: flex;
    /* position: absolute;
    right: -5rem;
    z-index: 2;
    top: 5rem; */
    height:500px;
    /* transform: scale(1.5); */
  }
  
  .imgWrapper{
    /* display: flex;
    height:300px; */
    min-width: 250px;

  }
  .name{
    display: flex;
  }
  .wrapper > .container:nth-child(1) >.imageCard > .imgWrapper{
    left: 1rem;
  }
  .wrapper > .container:nth-child(2) >.imageCard {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 6rem;

    /* position: absolute;
    left: 2rem;
    z-index: 2;
    top: 5rem; */
    /* height:300px; */
    /* transform: scale(1.3); */
  }
  .wrapper > .container:nth-child(2) >.imageCard > .name {
    position: relative;
    left: 3rem;
  }

  .wrapper > .container:nth-child(1) > .card > .headerCard > h3::before{
    width:260px;
  }

  .wrapper > .container:nth-child(2) > .card > .headerCard > h3::before{
    width:165px
  }

 
  
}