.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 700px;
  /* background-color: var(--card-color); */
  padding: 1rem;
  align-items: center;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

.card > h3{
  font-size: 1.5rem;
  margin: 1rem 0;
}

.card > p{
  font-size: 1rem;
}

.imageWrapper{
  position: absolute;
  width: 300px;
  height:  300px;
  
  z-index: 5;
  /* height: fit-content; */
  aspect-ratio:1;

}
.imageWrapper::after{
  content: "";
  z-index: 100;
  width: 500px;
  height: 500px;
  background-color: black;
}

.screen{
  width: 400px;
  height: 390px;
  z-index: 5;
}

.imgWrapper > *{
  display: inline;
  
}

.imgWrapper{
  position: relative;
}